
<div class="d-flex flex-column">
<div class="d-flex justify-content-center">
  <audio id="audioPlayer" controls #audio (ended)="suite()">
    <source [src]="url">
  </audio>
</div>
  <div class="d-flex justify-content-center">
    <div class="btn-group" role="group" aria-label="Player">
      <button (click)="preview2()" type="button" class="btn btn-secondary"><i class="fas fa-step-backward"></i></button>
      <button (click)="play2()" type="button" class="btn btn-primary"><i class="fas fa-play"></i></button>
      <button (click)="next2()" type="button" class="btn btn-secondary"><i class="fas fa-step-forward"></i></button>
    </div>
  </div>

</div>
