<!<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>

  </style>
  <title>Document</title>
</head>
<body style="background: white">

<div>
  <ul>
    <li *ngFor="let fichier of getList(); let index = index; let isFirst = first; let isOdd = odd;">
      <span [ngClass]="{'selection': (index===no)}">{{ index + 1 }} : {{ fichier.nom }} ( auteur : {{ fichier.auteur }}, url : {{ fichier.url }})</span>
    </li>
  </ul>
</div>

<div>
  Sélection {{no}} : {{urlCourante?.nom}} ({{urlCourante?.auteur}}) : {{urlCourante?.url}}
</div>

<div>
  <audio id="audioPlayer" controls #audio (ended)="suite()">
    <source [src]="urlCourante?.url">
  </audio>
</div>
<div>
  <!--<button (click)="run()">Run</button>-->
  <!--<button (click)="stop()">Stop</button>-->
  <button (click)="play()">Play</button>
  <button (click)="preview()">Preview</button>
  <button (click)="next2()">Next</button>
</div>

</body>
</html>
